@model ViewModel.ChildAction.ChildADModel
@{
    Layout = null;
}

<div class="form-group">
    <label><i class="fa fa-question-circle"></i><strong>之前用过的广告：</strong></label>
    <label js-deleteAd style="float:right"><a href="" style="color:sandybrown"><i class="fa fa-remove"></i>删除</a></label>
    <div class="input-group input-group-combined">
        @Html.DropDownListFor(a => a.ChoosAd, new SelectList(Model.Items, "Id", "ContentOfAd"), "---Select---", new { @class = "form-control", @js_adDropDown = "" })
    </div>
    <ul js-hideWebsite style="display:none">
        @foreach (var item in Model.Items)
        {
            <li id="@item.Id">@item.WebSite</li>
        }
    </ul>
</div>
<div style="border:dashed#d8c8c8 3px;padding:25px;background-color:#f0f69c">
    <p class="text-right">
        @Html.LabelFor(a => a.HasNewAd)
        @Html.CheckBoxFor(a => a.HasNewAd, new { @js_alter = "" })
    </p>
    <div js-hideAdInfo>
        <div class="form-group">
            <label><strong>文字内容：（* 必填）</strong></label>
            @Html.TextBoxFor(a => a.ContentOfAd, new { @class = "form-control", @js_content = "", placeholder = "最多不超过24个字符", })
        </div>
        <div class="form-group">
            <label><strong>链接：（* 必填）</strong></label>
            @Html.TextBoxFor(a => a.WebSite, new { @class = "form-control", @js_webSite = "", placeholder = "http或https开头的网址" })
        </div>
    </div>
</div>

<script>
    function adDropdown() {
        $('[js-addropdown]').change(function () {
            var $this = $(this),
                adId = $this.val();
            if (adId == "") {
                $('[js-content]').attr('disabled', false).val('');
                $('[js-webSite]').attr('disabled', false).val('');
                return false;
            }

            var adText = $this.find('option:selected').text(),
                adUrl = $('[js-hideWebsite]').find('#' + adId).text();

            $('[js-content]').attr('disabled', true).val(adText);
            $('[js-webSite]').attr('disabled', true).val(adUrl);
        });

    }
    function alterAd() {
        $('[js-alter]').click(function () {
            $('[js-hideAdInfo]').find('input').prop('disabled', !($(this).is(':checked')));
        });
    }
    function deleteAd() {
        $('[js-deleteAd]').click(function (e) {
            e.preventDefault();
            var $this = $(this),
                deleteId = $('[js-addropdown]').val();
            if (!deleteId) {
                alert('you doden"t choose anything');
            }
            $.ajax({
                url: '/Ad/_DeleteAd?id=' + deleteId,
                method: 'GET',
                beforeSend: function () {
                    $this.css('display', 'none');
                },
                success: function (data) {

                },
                complete: function () {
                    $this.css('display', '');
                },
                error: function (a, b, c) {
                    console.log('has some problem');
                }
            });
        });
    }
    deleteAd();
    alterAd();
    adDropdown();
</script>