@model ViewModel.Profile.WriteModel
@{
    ViewData["Title"] = "个人资料·一起帮";
    Layout = "~/Views/Shared/_LayoutBigColumn.cshtml";
}
@section style{
    <style>
        a {
            text-decoration: none
        }

        ol li {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        * {
            font-size: 16px;
        }
    </style>
}
@section title{
    <i class="fa fa-header"></i>个人资料
}
@section Descirption{
    <ol>
        <li>头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
        <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
        <li>自我介绍的字数不要超过255字。</li>
    </ol>
}
<div class="col-md-5">
    @using (Html.BeginForm("Write", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label><strong>头像：（* 仅限jpg/png/gif）</strong></label>
            <input type="file" name="icon" accept="image/*" />

            <div class="custom-file">
                <input type="file" name="icon" accept="image/*" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">页面提交时上传文件</label>
            </div>
        </div>
        <div class="form-group">
            <label><strong>性别： </strong></label>
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(w => w.Gender, true, new { @class = "form-check-input", name = "inlineRadioOptions", id = "inlineRadio1" })
                <label class="form-check-label" for="inlineRadio1">男</label>
            </div>
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(w => w.Gender, false, new { @class = "form-check-input", name = "inlineRadioOptions", id = "inlineRadio1" })
                <label class="form-check-label" for="inlineRadio2">女</label>
            </div>
            @Html.ValidationMessageFor(w => w.Gender)
        </div>
        <div class="form-group">
            <label><strong>生日：</strong></label>
            <div class="input-group mb-3">
                @Html.DropDownListFor(p => p.YearId, Model.Year, "---年---", new { @class = "form-control" })
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                @Html.DropDownListFor(p => p.MonthId, Model.Month, "---月---", new { @class = "form-control" })
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                @Html.DropDownListFor(p => p.ConstellationName, new SelectList(
               new string[] { "白羊座", "金牛座", "双子座", "巨蟹座", "狮子座", "处女座", "天秤座", "天蝎座", "射手座", "魔羯座", "水瓶座", "双鱼座" }
               ), "---星座---", new { @class = "form-control" })
                <div class="input-group-append">
                    <span class="input-group-text">星座</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label><strong>关键字：（* 使用空格分隔）</strong></label>
            <div class="input-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark">---1级---</button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        @Html.DropDownListFor(p => p.FristKeywordName, ViewData[Global.Const.FRISTKEYWORD] as List<SelectListItem>, "---1级---", new { @class = "form-control" })
                    </div>
                    <button type="button" class="btn btn-outline-dark">---2级---</button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        @Html.DropDownListFor(p => p.ScendKeywordName, ViewData[Global.Const.SCENDKEYWORD] as List<SelectListItem>, "---2级---", new { @class = "form-control" })
                    </div>
                </div>
                @Html.TextBoxFor(w => w.NeedSubKeyword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label><strong>自我介绍：</strong></label>
            @Html.TextAreaFor(w => w.SelfIntroduce, 4, 4, new { @class = "form-control", placeholder = "简单的介绍一下自己吧，不超过255字" })
            @Html.ValidationMessageFor(w => w.SelfIntroduce)
        </div>
        <button asp-page="/Article" type="submit" class="btn btn-primary">提交</button>
    }
</div>