@model ViewModel.ChildAction.ChildCommentAjax
@{
    Layout = null;
}
<div js-addComments id="@Model.Id" style="margin-bottom:10px;background-color: aliceblue;">
    <div>
        <small class="text-muted"><span class="fa fa-calendar"></span>@Model.PublishTime</small>
        <small class="text-primary">--- 第 <span js-num></span> 楼 ---</small>
        <a href="none"><span class="fa fa-flag"></span> 推荐</a>
        <span class="text-right">@Model.Author.Author @Model.Author.Level</span>
    </div>
    <div><small js-layer class="text-primary"></small></div>
    <div js-newComments class="comment-body clearfix">@Model.Comment</div>
    <div class="text-right">
        <a js-commentDelete id="@Model.Author.AuthorId" href="" style="margin-left:20px;display:none"><span class="fa fa-trash"></span> 删除</a>
        <a js-reply href="#ITolk" style="margin-left:20px;display:none"><span class="fa fa-send"></span> 回复</a>
        <a><span class="fa fa-thumbs-o-up text-success">支持</span>@Model.Agree</a>
        <a><span class="fa fa-thumbs-o-down text-success">反对</span>@Model.DisAgree</a>
    </div>
    <hr />
</div>
