@page
@model luckstack3.Write
@{
    ViewData["Title"] = "个人资料·一起帮";
    Layout = "_LayoutBigColumn";
}
@section style{
    <style>
        a {
            text-decoration: none
        }
        ol li {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        *{
            font-size:16px;
        }
    </style>
}
@section title{
    <i class="fa fa-header"></i>个人资料
}
@section Descirption{
    <ol>
        <li>头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
        <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
        <li>自我介绍的字数不要超过255字。</li>
    </ol>
}
<form class="col-md-4" method="post">
    <div class="form-group">
        <label><strong>头像：（* 仅限jpg/png/gif）</strong></label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">页面提交时上传文件</label>
        </div>
    </div>
    <div class="form-group">
        <label><strong>性别： </strong></label>
        <div class="form-check form-check-inline">
            <input asp-for="UserInfo.Gender" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
            <label class="form-check-label" for="inlineRadio1">男</label>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="UserInfo.Gender" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
            <label class="form-check-label" for="inlineRadio2">女</label>
        </div>
        <span asp-validation-for="UserInfo.Gender"></span>
    </div>
        <div class="form-group">
            <label><strong>生日：</strong></label>
            <div class="input-group mb-3">
                <select class="form-control">
                    <option>----</option>
                    @for (int i = DateTime.Now.Year; i > 1930; i--)
                    {
                        <option>@i</option>
                    }
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <select class="form-control">
                    <option>----</option>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option>@i</option>
                    }
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <select asp-for="Constellation" asp-items="Html.GetEnumSelectList<Constellation>()" class="form-control"></select>
                <div class="input-group-append">
                    <span class="input-group-text">星座</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label><strong>关键字：（* 使用空格分隔）</strong></label>
            <div class="input-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark">---1级---</button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        @foreach (var item in Model.Keywords)
                        {
                            <a class="dropdown-item" href="#">@item.Name</a>
                        }
                    </div>
                    <button type="button" class="btn btn-outline-dark">---2级---</button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        @foreach (var secendKeywrods in Model.Keywords)
                        {
                            foreach (var item in secendKeywrods.SecendKeyword)
                            {
                                if (secendKeywrods.Id == 1)
                                {
                                    <a class="dropdown-item" href="#">@item.Name</a>
                                }
                                else if (secendKeywrods.Id == 2)
                                {
                                    <a class="dropdown-item" href="#">@item.Name</a>
                                }
                                else if (secendKeywrods.Id == 3)
                                {
                                    <a class="dropdown-item" href="#">@item.Name</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="#">@item.Name</a>
                                }
                            }
                        }
                    </div>
                </div>
                <input type="text" class="form-control" />
            </div>
        </div>
    
    <div class="form-group">
        <label><strong>自我介绍：</strong></label>
        <textarea asp-for="UserInfo.SelfIntroduction" class="form-control" placeholder="简单的介绍一下自己吧，不超过255字" rows="4"></textarea>
        <span asp-validation-for="UserInfo.SelfIntroduction"></span>
    </div>
    <button asp-page="/Article" type="submit" class="btn btn-primary">提交</button>
</form>